@using PeugeotForum.Models

@model Post


<div class="userArea">
    @(Model.ApplicationUser.UserName)
    <div>
        Asked: @(Model.ApplicationUser.Topics.Count)
    </div>
    <div>
        Posts: @(Model.ApplicationUser.Posts.Count)
    </div>
</div>

<div class="postContentArea">
    <div class="likesArea" id="@( "likesArea" + Model.PostId)">
        @Html.Partial("_LikePartial", Model)
    </div>

    <div class="postContentText" id="@( "postContentText" + Model.PostId )">
        @Html.Partial("_PostContentPartial", Model)
    </div>
</div>
